.container9{
    height: 500px;
    width: 500px;
    background-color: yellow;
    position: relative;
}
#radio25{
    position: absolute;
    top: 250px;
    left: 170px;
}
#radio26{
    position: absolute;
    top: 280px;
    left: 170px;
}
#radio27{
    position: absolute;
    top: 311px;
    left: 170px;
}
#payment9{
    position: absolute;
    top: 180px;
    left: 150px;
}
#quant9{
    position: absolute;
    top: 140px;
    left: 150px;
}
#item9{
    position: absolute;
    top: 60px;
    left: 150px;
}
#btnord9{
    position: absolute;
    top: 370px;
    left: 170px;
}