.container8{
    height: 500px;
    width: 500px;
    background-color: yellow;
    position: relative;
}
#radio22{
    position: absolute;
    top: 250px;
    left: 170px;
}
#radio23{
    position: absolute;
    top: 280px;
    left: 170px;
}
#radio24{
    position: absolute;
    top: 311px;
    left: 170px;
}
#payment8{
    position: absolute;
    top: 180px;
    left: 150px;
}
#quant8{
    position: absolute;
    top: 140px;
    left: 150px;
}
#item8{
    position: absolute;
    top: 60px;
    left: 150px;
}
#btnord8{
    position: absolute;
    top: 370px;
    left: 170px;
}